Repository jenkinsci/badge-plugin, pull requests merged in 2024-05, with the labels that each got.

#131 Remove unused commons-validator dependency
  .github/dependabot.yml
  pom.xml
Labels: chore

#132 Require Jenkins 2.426.3 or newer
  pom.xml
Labels: chore

#130 Support design library symbols and colors
  README.md
  pom.xml
  src/doc/badge.png
  src/doc/summary.png
  src/main/java/com/jenkinsci/plugins/badge/action/AbstractAction.java
  src/main/java/com/jenkinsci/plugins/badge/action/BadgeAction.java
  src/main/java/com/jenkinsci/plugins/badge/action/BadgeSummaryAction.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AbstractAddBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddErrorBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddInfoBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddWarningBadgeStep.java
  src/main/resources/com/jenkinsci/plugins/badge/action/BadgeAction/badge.jelly
  src/main/resources/com/jenkinsci/plugins/badge/assets.css
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddBadgeStep/config.jelly
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddBadgeStep/help-color.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddBadgeStep/help-icon.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddBadgeStep/help-id.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddBadgeStep/help-link.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddBadgeStep/help-text.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddBadgeStep/help.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddErrorBadgeStep/help-id.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddErrorBadgeStep/help-text.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddErrorBadgeStep/help.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddHtmlBadgeStep/help-html.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddHtmlBadgeStep/help-id.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddInfoBadgeStep/help-id.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddInfoBadgeStep/help-text.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddInfoBadgeStep/help.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddShortTextStep/help-color.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddShortTextStep/help-id.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddShortTextStep/help-link.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddShortTextStep/help-text.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddWarningBadgeStep/help-id.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddWarningBadgeStep/help-text.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/AddWarningBadgeStep/help.html
  src/main/resources/com/jenkinsci/plugins/badge/dsl/CreateSummaryStep/help-id.html
  src/test/java/com/jenkinsci/plugins/badge/action/AbstractActionTest.java
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/AddBadgeStepTest.java
  src/test/resources/readme/README.tmpl
Labels: enhancement

#137 Upgrade tests to run with JUnit5
  pom.xml
  src/test/java/com/jenkinsci/plugins/badge/action/AbstractActionTest.java
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
  src/test/java/com/jenkinsci/plugins/badge/action/ClassHierarchyTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/AbstractBadgeTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/AddBadgeStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/AddHtmlBadgeStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/CreateSummaryStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/RemoveBadgesStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/RemoveSummariesStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/ShortTextStepTest.java
Labels: test

#138 Fix spelling error in README template
  src/test/resources/readme/README.tmpl
Labels: documentation

#139 Enable Codecov Coverage and Jenkins Security Scan
  .github/codecov.yml
  .github/workflows/codecov.yml
  .github/workflows/jenkins-security-scan.yml
  README.md
  src/test/resources/readme/README.tmpl
Labels: chore, test, documentation

#141 Missing POST/RequirePOST annotation
  src/main/java/com/jenkinsci/plugins/badge/BadgePlugin.java
Labels: security

#142 Enable spotless
  install-fast
  pom.xml
  run-fast
  src/main/java/com/jenkinsci/plugins/badge/BadgePlugin.java
  src/main/java/com/jenkinsci/plugins/badge/action/AbstractAction.java
  src/main/java/com/jenkinsci/plugins/badge/action/AbstractBadgeAction.java
  src/main/java/com/jenkinsci/plugins/badge/action/BadgeAction.java
  src/main/java/com/jenkinsci/plugins/badge/action/BadgeSummaryAction.java
  src/main/java/com/jenkinsci/plugins/badge/action/HtmlBadgeAction.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AbstractAddBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AbstractRemoveBadgesStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AbstractStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AbstractTaskListenerDescriptor.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddErrorBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddHtmlBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddInfoBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddShortTextStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/AddWarningBadgeStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/CreateSummaryStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/RemoveBadgesStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/RemoveHtmlBadgesStep.java
  src/main/java/com/jenkinsci/plugins/badge/dsl/RemoveSummariesStep.java
  src/test/java/com/jenkinsci/plugins/badge/action/AbstractActionTest.java
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
  src/test/java/com/jenkinsci/plugins/badge/action/ClassHierarchyTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/AbstractBadgeTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/AddBadgeStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/AddHtmlBadgeStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/CreateSummaryStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/RemoveBadgesStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/RemoveSummariesStepTest.java
  src/test/java/com/jenkinsci/plugins/badge/dsl/ShortTextStepTest.java
Labels: chore

#143 Add a few tests to increase code coverage
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
Labels: test

#145 Fix mistake in earlier coverage test commit
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
Labels: test

#146 Test getText() with isDisableFormatHTML
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
Labels: test

#147 Check link with leading /
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
Labels: test

#149 Use size class for all icons, not just symbols
  src/main/java/com/jenkinsci/plugins/badge/action/BadgeAction.java
  src/test/java/com/jenkinsci/plugins/badge/action/BadgeActionTest.java
Labels: bug
